
.DS_Store
/res
/res_bookinfo
/res/success
/res_hotel
exper/res_5.21.zip
exper/result.log
exper/result_full_cilium.log
output.log
/config
/setup/cilium
/res_perf
*.txt
/archive
*.bkp
*.dtmp
*.png
/result_metric
*.pdf
*.pyc
*.log
*.zip
/before_tg
exper/config.json
exper/environment/kube/join_kube.sh
*.zip
/before_tg
/_archive
/trace_res_synthetic_branch1_http1
/_filter_span
/_social
/_synthetic/synthetic_branch16_http2
/_synthetic
/trace_synthetic_b1
/trace_synthetic_b16
/trace_synthetic_b16_http1
