
.DS_Store
/res
/res_bookinfo
/res/success
/res_hotel
exper/res_5.21.zip
exper/result.log
exper/result_full_cilium.log
output.log
/config
/setup/cilium
/res_perf
*.txt
/archive
*.bkp
*.dtmp
*.png
/result_metric
*.pdf
*.pyc
*.log
