apiVersion: v1
kind: ConfigMap
metadata:
  name: opa-policy
  namespace: hotel
data:
  opa-config.yaml: |
    # Minimal OPA-Envoy plugin config
    services: []
    bundles: {}
    decision_logs:
      console: true

    plugins:
      envoy_ext_authz_grpc:
        addr: :9191              
        path: envoy/authz/allow  

  policy.rego: |
    package envoy.authz

    # Default deny
    default allow = false

    # Allow only if header x-meshtrek-allowed: yes is present
    allow {
      input.attributes.request.http.headers["x-meshtrek-allowed"] == "yes"
    }